DTD-Ejercicios/ExamenesPasados/realizadosEnClase/harryPotter.dtd

<!ELEMENT harryPotter (#PCDATA | casa)*>
<!ENTITY harry "Me encanta Harry Potter">
<!ENTITY % atributoEdad "edad (infantil | adolescente | adulto) 'infaltil'" >
<!ATTLIST harryPotter %atributoEdad;>
<!ELEMENT casa (personaje+)>
<!ATTLIST casa nombre ID #IMPLIED>
<!ELEMENT personaje EMPTY>
<!ATTLIST personaje nombre ID #REQUIRED
                    %atributoEdad;
                    estado (muerto | vivo) #FIXED "vivo" >
