ExamenesPasados/videoclub.dtd

<!ELEMENT videoclub (Almacen)>
<!ELEMENT almacen (peliculas | series | videojuegos)*>

<!ELEMENT peliculas (nombre,anio,director+)>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT anio (#PCDATA)>
    <!ELEMENT director (#PCDATA)>

<!ELEMENT series (nombre,temporada+)>
    <!ELEMENT temporada (numTemporada, director, anio)>
    <!ELEMENT numTemporada >

<!ELEMENT videojuegos (nombre, compania, plataforma+, anio )>
    <!ELEMENT plataforma (#PCDATA)>
    <!ELEMENT compania (#PCDATA)>